@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  box-sizing: border-box;
  margin: 0;
  background-color: #FED6AA;
}

.section{
  padding: 1rem;
}

.spinner{
  border-radius: 50%;
}

@media only screen and (min-width: 374px) and (max-width: 414px) {
  .note{
    width: 150px;
  }
}